[Unit]
Description=Ethernet Status Monitor
After=network.target

[Service]
ExecStart=/home/pi/bin/net-monitor.sh
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
